[submodule "examples/SpringBlade"]
	path = examples/SpringBlade
	url = https://gitee.com/smallc/SpringBlade.git
[submodule "examples/paascloud-master"]
	path = examples/paascloud-master
	url = https://github.com/paascloud/paascloud-master.git
[submodule "examples/Cloud-Platform"]
	path = examples/Cloud-Platform
	url = https://gitee.com/geek_qi/cloud-platform.git
[submodule "examples/mall4cloud"]
	path = examples/mall4cloud
	url = https://gitee.com/gz-yami/mall4cloud.git
[submodule "examples/yudao-cloud"]
	path = examples/yudao-cloud
	url = https://gitee.com/zhijiantianya/yudao-cloud.git
[submodule "examples/spring-cloud-examples"]
	path = examples/spring-cloud-examples
	url = https://github.com/ityouknow/spring-cloud-examples.git
[submodule "examples/PiggyMetrics"]
	path = examples/PiggyMetrics
	url = https://github.com/sqshq/piggymetrics.git
[submodule "examples/pig"]
	path = examples/pig
	url = https://gitee.com/log4j/pig.git
[submodule "examples/SiteWhere"]
	path = examples/SiteWhere
	url = https://github.com/sitewhere/sitewhere.git
[submodule "examples/PassJava-Platform"]
	path = examples/PassJava-Platform
	url = https://github.com/Jackson0714/PassJava-Platform.git
[submodule "examples/RuoYi-Cloud"]
	path = examples/RuoYi-Cloud
	url = https://gitee.com/y_project/RuoYi-Cloud.git
[submodule "examples/gulimall-learning"]
	path = examples/gulimall-learning
	url = https://github.com/NiceSeason/gulimall-learning.git
[submodule "examples/zlt-microservices-platform"]
	path = examples/zlt-microservices-platform
	url = https://gitee.com/zlt2000/microservices-platform.git
[submodule "examples/novel-cloud"]
	path = examples/novel-cloud
	url = https://github.com/201206030/novel-cloud.git
[submodule "examples/MoGuBlog"]
	path = examples/MoGuBlog
	url = https://gitee.com/moxi159753/mogu_blog_v2.git
[submodule "examples/Apollo"]
	path = examples/Apollo
	url = https://github.com/apolloconfig/apollo.git
[submodule "examples/youlai-mall"]
	path = examples/youlai-mall
	url = https://gitee.com/youlaiorg/youlai-mall.git
[submodule "examples/mall-swarm"]
	path = examples/mall-swarm
	url = https://github.com/macrozheng/mall-swarm.git
[submodule "examples/lamp-cloud"]
	path = examples/lamp-cloud
	url = https://gitee.com/zuihou111/lamp-cloud.git
[submodule "examples/RuoYi-Cloud-Plus"]
	path = examples/RuoYi-Cloud-Plus
	url = https://gitee.com/dromara/RuoYi-Cloud-Plus.git
